/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
    background-color: #fff;
    overflow-x: hidden;
}

.container {
    width: 85%;
    margin: 0 auto;
    max-width: 1200px;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Navbar Styles */
.navbar {
    width: 160px;
    height: 100vh;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed; /* Fissa la navbar in modo che rimanga visibile */
    top: 0;
    left: 0;
    border-right: 2px solid #000;
    padding-top: 20px;
    box-sizing: border-box;
    z-index: 10; /* Assicurarsi che sia sopra il contenuto della pagina */
}

.navbar ul {
    list-style: none;
    padding: 0;
}

.navbar__logo img {
    width: 100px;
    height: auto;
}

.navbar__link {
    font-size: 1.5em;
    color: #000;
    display: block;
    padding: 15px;
    transition: color 0.3s ease;
}

.navbar__link:hover {
    color: #666;
}

/* Bio Section */
.bio {
    display: flex;
  
    padding: 80px 20px 10px 20px; /* Adjust padding as needed */
    position: relative; /* Allow absolute positioning for the line */
}

.bio_pic {
    position: relative; /* Make the image's position relative to the line */
    margin-right: 20px; /* Space between the image and the line */
    margin-left: 300px;
}

.bio_pic img {
    display: block;
    max-width: 100%; /* Ensure the image scales correctly */
    height: auto; /* Maintain aspect ratio */
}

.bio_line {
    position: absolute; /* Position the line absolutely relative to the .bio container */
    left: calc(10% + 40%); /* Start the line from the left */
    right: 0%; /* End the line halfway across the container */
    top: 50%;
    height: 2px;
    background-color: #000;
    margin-top: 20px; /* Space between the line and the text */
    display: block;
    width: 100%;
    
/*prova*/

}

.bio_par{
    margin-top: 10px;
    margin-bottom: 10px;

}

.bio_text {
    margin-left: 20px; /* No margin-left needed since the line will handle spacing */
    padding-top: 400px;
    width: 100%; /* Text container takes full width of the container */
    max-width: 600px; /* Maximum width for the text */
    font-size: 1.2em;
}
/* Grid Container */
.grid__container {
    padding: 160px 20px 80px 160px;
    width: 100vw;
    margin-top: 20px;
    margin-left: -320px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
.grid {
    max-width: 1900px; /* Ensure grid does not exceed maximum width */
    width: 100%; /* Ensure the grid takes full width available */
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap onto multiple lines if needed */
    gap: 60px; /* Adjust the gap between items as needed */
}

/* Grid Item */
.grid__item {
    flex: 300px; /* 4 items per row with gap adjustment */
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; /* Align children vertically */
    margin-bottom: 20px; /* Spacing at the bottom */

}

.grid__heading {
    font-size: 1.5em;
    color: #000;
    margin-bottom: 10px;
}

.grid__list {
    list-style-type: none; /* Remove default list bullets */
    padding-left: 0; /* Remove default padding */
    margin: 0;
    
}

.grid__list-item {
    font-size: 1em;
    color: #666;
    margin-bottom: 10px;
    margin-left: 1px;
}

/* Bio Section */
.present {
    display: flex;
  
    padding: 80px 20px 10px 20px; /* Adjust padding as needed */
    position: relative; /* Allow absolute positioning for the line */
    padding-bottom: 160px;
}

.present_pic {
    position: relative; /* Make the image's position relative to the line */
    margin-right: 20px; /* Space between the image and the line */
    margin-left: 300px;
}

.present_pic img {
    display: block;
    max-width: 100%; /* Ensure the image scales correctly */
    height: auto; /* Maintain aspect ratio */
}

.present_line {
    position: absolute; /* Position the line absolutely relative to the .bio container */
    left: calc(17% + 40%); /* Start the line from the left */
    right: 0%; /* End the line halfway across the container */
    top: 35%;
    height: 2px;
    background-color: #000;
    margin-top: 20px; /* Space between the line and the text */
    display: block;
    width: 100%;
    
/*prova*/

}

.present_text {
    margin-left: 100px; /* No margin-left needed since the line will handle spacing */
    padding-top: 150px;
    width: 100%; /* Text container takes full width of the container */
    max-width: 400px; /* Maximum width for the text */
    
}

.present_par {
    margin-bottom: 20px;
    margin-left: -95px;
    width: 200%;
}

.present_heading {
    margin-left: -100px;
    margin-bottom: 20px;
    margin-left: -95px;
    padding-top: 20px;





}



@media (max-width: 768px) {
    .navbar {
        width: 100%;
        height: auto;
        position: relative;
        border-right: none;
        border-bottom: 2px solid #000;
    }
    .navbar__link {
        font-size: 1.4em;
        padding: 10px;
        padding-left: 20px;
    }
    .bio, .present {
        flex-direction: column;
        align-items: center;
        padding: 20px 20px;
        padding-top: -810px;
    }
    .bio_text {
        margin-left: 10px; /* No margin-left needed since the line will handle spacing */
        padding-top: 40px;
        padding-right: 10px;
        width: 100%; /* Text container takes full width of the container */
        max-width: 600px; /* Maximum width for the text */
        text-align: center;
    }
    .bio_pic {
        top: 20px;
    }
    .bio_pic, .present_pic {
        margin: 0;
    }
    .bio_line, .present_line {
        display: none; /* Hide lines on tablets and smaller devices */
    }
    .grid__container {
        padding: 80px 20px 40px 20px;
        margin-left: 0;
    }
    .grid__item {
        flex: 1 1 100%; /* Full width for mobile */
        font-size: 1.2em;
    }

    .present_heading {
        margin-left: -30px;
        margin-bottom: 20px;
        margin-left: -90px;
        padding-top: 20px;
        text-align: center;
        width: 200%;

    
    
    
    
    
    }
    .present_pic{
        width: 60%;
    }

    .present_text {
        margin-left: 50px; /* No margin-left needed since the line will handle spacing */
        padding-top: 10px;
        padding-right: 10px;
        width: 50%; /* Text container takes full width of the container */
        max-width: 600px; /* Maximum width for the text */
        text-align: center;
        font-size: 1.2em;

    }

        .container {
        width: 100%;
    }
}



/* Aggiungi una classe per l'effetto di fade-in */
.fade-in {
    opacity: 0; /* Comincia invisibile */
    animation: fadeIn 1s ease-in-out forwards; /* 2 secondi di fade-in */
}

/* Definizione dell'animazione */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}