/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
    background-color: #fff;
    overflow-x: hidden;
    font-size: 16px; /* Base font size */
}

/* Updated container class */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px; /* Add padding for spacing */
}
a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Navbar Styles */
.navbar {
    width: 160px;
    height: 100vh;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed; /* Fissa la navbar in modo che rimanga visibile */
    top: 0;
    left: 0;
    border-right: 2px solid #000;
    padding-top: 20px;
    box-sizing: border-box;
    z-index: 10; /* Assicurarsi che sia sopra il contenuto della pagina */
    
}

.navbar ul {
    list-style: none;
    padding: 0;
}

.navbar__logo img {
    width: 100px;
    height: auto;
}

.navbar__link {
    font-size: 1.2rem; /* Use relative units */
    color: #000;
    display: block;
    padding: 15px;
    transition: color 0.3s ease;
}

.navbar__link:hover {
    color: #666;
}

/* Bio Section */
/* Bio and Present Section - Unified Styles */
.bio, .present {
    display: flex;
    padding: 80px 20px 10px 20px; /* Adjust padding as needed */
    position: relative; /* Allow absolute positioning for the line */
}

.present_pic {
    position: relative; /* Make the image's position relative to the line */
    margin-right: 200px; /* Space between the image and the line */

    margin-top: 100px
}

.bio_pic{
    position: relative; /* Make the image's position relative to the line */
    margin-right: 20px; /* Space between the image and the line */
    margin-left: 200px;
}



.bio_pic img, .present_pic img {
    display: block;
    max-width: 100%; /* Ensure the image scales correctly */
    height: auto; /* Maintain aspect ratio */
}

.bio_line {
    position: absolute; /* Position the line absolutely relative to the container */
    left: calc(-0.2% + 45%); /* Start the line from the left */
    right: 0%; /* End the line halfway across the container */
    top: 50%;
    height: 2px;
    background-color: #000;
    margin-top: 20px; /* Space between the line and the text */
    display: block;
    width: 100%;
}

.present_line {
    position: absolute; /* Position the line absolutely relative to the container */
    left: calc(9.6% + 45%); /* Start the line from the left */
    right: 0%; /* End the line halfway across the container */
   margin-top: 380px;
    height: 2px;
    background-color: #000;
    display: block;
    width: 100%;
}

.bio_text, .present_text {
    margin-left: 20px; /* No margin-left needed since the line will handle spacing */
    padding-top: 400px;
    width: 100%; /* Text container takes full width of the container */
    max-width: 600px; /* Maximum width for the text */
    font-size: 1.2em;
}

.bio_par, .present_par {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Grid Container */
.grid__container {
    padding: 160px 20px 80px 160px;
    width: 100vw;
    margin-top: 20px;
    margin-left: -320px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
.grid {
    max-width: 1900px; /* Ensure grid does not exceed maximum width */
    width: 100%; /* Ensure the grid takes full width available */
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap onto multiple lines if needed */
    gap: 60px; /* Adjust the gap between items as needed */
}

/* Grid Item */
.grid__item {
    flex: 300px; /* 4 items per row with gap adjustment */
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; /* Align children vertically */
    margin-bottom: 20px; /* Spacing at the bottom */

}

.grid__heading {
    font-size: 1.5em;
    color: #000;
    margin-bottom: 10px;
}

.grid__list {
    list-style-type: none; /* Remove default list bullets */
    padding-left: 0; /* Remove default padding */
    margin: 0;
    
}

.grid__list-item {
    font-size: 1em;
    color: #666;
    margin-bottom: 10px;
    margin-left: 1px;
}

.present_pic {
    padding-left: 30px;
}



/* Media Queries for Bio and Present sections */
@media (max-width: 1380px) {
    .navbar {
        width: 100%;
        height: auto;
        position: relative;
        border-right: none;
        border-bottom: 2px solid #000;
    }
    .navbar__link {
        font-size: 1.4em;
        padding: 10px;
        padding-left: 20px;
    }
    .bio, .present {
        flex-direction: column;
        align-items: center;
        padding: 20px 20px;
    }
    .bio_text, .present_text {
        margin-left: 10px;
        padding-top: 40px;
        padding-right: 10px;
        width: 100%;
        max-width: 600px;
        text-align: center;
        font-size: 1.4em;
    }
    .bio_pic, .present_pic {
        margin: 0;
    }
    .bio_line, .present_line {
        display: none; /* Hide lines on tablets and smaller devices */
    }
    .grid__container {
        padding: 80px 20px 40px 20px;
        margin-left: 0;
    }
    .grid__item {
        flex: 1 1 100%; /* Full width for mobile */
        font-size: 1.2em;
    }

    .present_pic {
    max-width: 30%;
    }
}

@media (max-width: 820px) {
    .navbar {
        width: 100%;
        height: auto;
        position: relative;
        border-right: none;
        border-bottom: 2px solid #000;
    }
    .navbar__link {
        font-size: 1.4em;
        padding: 10px;
        padding-left: 20px;
    }
    .bio, .present {
        flex-direction: column;
        align-items: center;
        padding: 20px 20px;
    }
    .bio_text, .present_text {
        margin-left: 10px;
        padding-top: 40px;
        padding-right: 10px;
        width: 100%;
        max-width: 600px;
        text-align: center;
    }
    .bio_pic, .present_pic {
        margin: 0;
    }
    .bio_line, .present_line {
        display: none; /* Hide lines on smaller devices */
    }
    .grid__container {
        padding: 80px 20px 40px 20px;
        margin-left: 0;
    }
    .grid__item {
        flex: 1 1 100%; /* Full width for mobile */
        font-size: 1.2em;
    }
    .present_pic {
        max-width: 50%;
        }
}








/* Aggiungi una classe per l'effetto di fade-in */
.fade-in {
    opacity: 0; /* Comincia invisibile */
    animation: fadeIn 1s ease-in-out forwards; /* 2 secondi di fade-in */
}

/* Definizione dell'animazione */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

