/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
    background-color: #fff;
    overflow-x: hidden;
    font-size: 16px; /* Base font size */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px; /* Add padding for spacing */
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Navbar Styles */
.navbar {
    width: 160px;
    height: 100vh;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed; /* Fissa la navbar in modo che rimanga visibile */
    top: 0;
    left: 0;
    border-right: 2px solid #000;
    padding-top: 20px;
    box-sizing: border-box;
    z-index: 10; /* Assicurarsi che sia sopra il contenuto della pagina */
    
}

.navbar ul {
    list-style: none;
    padding: 0;
}

.navbar__logo img {
    width: 100px;
    height: auto;
}

.navbar__link {
    font-size: 1.2em; /* Use relative units */
    color: #000;
    display: block;
    padding: 22px;
    transition: color 0.3s ease;
}

.navbar__link:hover {
    color: #666;
}


/* Intro Section */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 140px 260px 40px 10px;
    background-color:  #fff;
    height: 370px;
}

.intro__title {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin-bottom: 10px;
    color: #000;
}

.intro__subtitle {
    font-size: 1.5em;
    color: #666;
}

/* Linux Section */
.linux {
    padding: 160px 20px 10px 20px;
    background-color: #fff;
}

.linux__content {
    display: flex;
    align-items: flex-start;
}

.linux__image {
    position: relative; /* Make the image's position relative to the line */
    margin-right: -600px; /* Space between the image and the line */
    margin-left: 20px;

}

.linux__image img{
    display: block;
    max-width: 70%; /* Ensure the image scales correctly */
    height: auto; /* Maintain aspect ratio */
}



.linux__text {
    padding-left: 60px;
    padding-right: 30px;

    padding-bottom: 0px;
    padding-top: 280px;
    top: 100px;
    width: 80%;
    position: flex;

}

.linux__heading {
    font-size: 2em;
    text-align: right;

}

.linux__paragraph {
    margin-bottom: 20px;
    line-height: 1.4;
    font-size: 1.1em;
    text-align: right;
    margin-left: 100px;

}

.linux__line {
    position: absolute; /* Position the line absolutely relative to the container */
    left: calc(-6% - 45%); /* Start the line from the left */
    height: 2px;
    background-color: #000;
    margin-top: 260px; /* Space between the line and the text */
    display: block;
    width: 100%;
}


/* Projects Section */
.projects {
    padding: 160px 20px;
    margin-left: 120px;
    background-color:  #fff;
    margin-bottom: 80px;
    margin-top: 160px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra il contenuto della sezione */
}

/* Lista dei progetti */
.projects__list {
    display: flex;
    justify-content: space-between; /* Spazia i progetti a sinistra e a destra */
    gap: 80px; /* Spazio tra i riquadri */
    width: 100%;
    max-width: 1200px; /* Limita la larghezza massima */
    margin-top: 80px;
}

/* Singolo progetto */
.projects__item {
    width: calc(50% - 10px); /* Larghezza del 50% meno metà del gap */
    padding: 20px;
    background-color: #fff;
    border: 2px solid #000;
    font-size: 1.2em;

    text-align: center; /* Centra il contenuto del progetto */
}

/* Titolo della sezione */
.projects__title {
    font-size: 3em;
    color: #000;
    margin-bottom: 40px;
    text-align: center;
    width: 100%;
}



/* Contact Section */
.contact {
    padding: 80px 20px 20px 160px;
    background-color:  #fff;

    text-align: center;
}

.contact__title {
    font-size: 3em;
    color: #000;
    margin-bottom: 20px;
}

.contact__info {
    font-size: 1.2em;
    color: #666;
    padding-bottom: 20px;
}

.contact__email {
    color: #000;
}


#nav-container {
    display: relative;

    align-items: center; /* Allinea al centro verticalmente */
    padding-bottom: 80px;

}

#svg-nav a img {
    width: 40px; /* Imposta la larghezza delle icone */
    height: 40px; /* Imposta l'altezza delle icone */
    object-fit: contain; /* Mantiene il contenuto delle icone proporzionato */
    margin-right: 20px; 
    margin-bottom: -20px;
}


/* Media Queries */
@media (max-width: 820px)  {
    /* Togliere le linee e adattare per mobile */
    .navbar {
        width: 100%;
        height: auto;
        position: relative;
        border-right: none;
        border-bottom: 2px solid #000;
    }
    .navbar__link {
        font-size: 1.4em;
        padding: 10px;
        padding-left: 20px;
    }
    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; /* Centra il contenuto */
        padding: 100px 20px;
        background-color: #fff;
        height: auto;
    }

    .intro__title {
        font-size: 1.8em;
        font-weight: 700;
        letter-spacing: 0.05em;
        margin-bottom: 10px;
        color: #000;
        text-align: center;
    }

    .intro__subtitle {
        font-size: 1.4em;
        color: #666;
        text-align: center;
    }
    
    
    

    /* Immagine sopra il testo e centrata per la sezione Linux */
    .linux__content {
        display: flex;
        flex-direction: column; /* Cambia l'ordine: immagine sopra il testo */
        align-items: center;
        text-align: center;
    }

    .linux__image {
        max-width: 170%;  /* Riduci la larghezza dell'immagine al 80% */
        margin-right: 10px;
        margin-left: 145px;


    }


    /* Testo sotto l'immagine, centrato */
    .linux__text {
        text-align: center; /* Centra il testo */
        order: 1; /* Assicura che il testo sia sotto l'immagine */
        padding-bottom: 10px;
        max-width: 100%;
    
        padding-left: px;
        padding-right: 15px;
        padding-top: 10px;
    }

    .linux__paragraph {
        margin-bottom: -100px;
        line-height: 1.4;
        font-size: 1.4em;
        text-align: center;
        margin-left: -60px;
        width: 150%;
    
    }

    .linux__heading {
        font-size: 2em;
        text-align: center;
        width: 180%;
 

    
    }


    .linux__line {
        display: none; /* Rimuove le linee */
    }

    .projects {
        padding: 10px 20px;
        margin-left: 120px;
        background-color:  #fff;
        margin-bottom: 10px;
        margin-top: 160px;
        display: flex;
        flex-direction: column;
        align-items: center; /* Centra il contenuto della sezione */
        margin-left: 10px;
        margin-right: 10px;
    }

    .projects__list {
        flex-direction: column;
    }

    .projects__item {
        width: calc(100% - 40px);
        margin-left: 20px;

    }

    .contact {
        padding: 80px 10px 80px 140px;
        background-color:  #fff;
    
        text-align: center;
        margin-left: -140px;
        
    }


}


/* Aggiungi una classe per l'effetto di fade-in */
.fade-in {
    opacity: 0; /* Comincia invisibile */
    animation: fadeIn 1s ease-in-out forwards; /* 2 secondi di fade-in */
}

/* Definizione dell'animazione */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
