/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
    /*background-color: #fff;*/
    background-color: #f0f0f0;

    overflow-x: hidden;
}

.container {
    width: 85%;
    margin: 0 auto;
    max-width: 1200px;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Navbar Styles */
.navbar {
    width: 160px;
    height: 100vh;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 2px solid #000;
    padding-top: 20px;
    box-sizing: border-box;
}

.navbar ul {
    list-style: none;
    padding: 0;
}

.navbar__logo img {
    width: 100px;
    height: auto;
}

.navbar__link {
    font-size: 1.5em;
    color: #000;
    display: block;
    padding: 15px;
    transition: color 0.3s ease;
}

.navbar__link:hover {
    color: #666;
}

/* Intro Section */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 160px 0px 0px 160px;
    background-color: #f0f0f0;
    height: 370px;
}

.intro__title {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin-bottom: 10px;
    color: #000;
}

.intro__subtitle {
    font-size: 1.5em;
    color: #666;
}

/* Linux Section */
.linux {
    padding: 160px 20px 10px 20px;
    background-color: #f0f0f0;
}

.linux__content {
    display: flex;
    align-items: flex-start;
}

.linux__image {
    position: relative;
    margin-left: 10px;
    margin-right: -220px; /* Space between the image and the line */

}

.linux__img {
    max-width: 860px;
    height: auto;
}

.linux__text {
    padding-left: 60px;
    padding-right: 30px;

    padding-bottom: px;
    padding-top: 280px;
    top: 100px;
    width: 80%;
    position: flex;

}

.linux__heading {
    font-size: 2em;
    text-align: right;

}

.linux__paragraph {
    margin-bottom: 20px;
    line-height: 1.4;
    font-size: 1.1em;
    text-align: right;

}

.linux__line {
    content: "";
    display: block;
    width: 100%;
    height: 2px;

    background-color: #000; /* Puoi cambiare il colore qui */
    margin-bottom: 20px;
    margin-left: -20%; /* Questa è la novità! */
    margin-top: 250px; /* Posiziona la linea sopra la scritta */
    margin-right: -610px;
}


/* Projects Section */
.projects {
    padding: 160px 20px;
    margin-left: 120px;
    background-color: #f0f0f0;
    margin-bottom: 80px;
    margin-top: 160px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra il contenuto della sezione */
}

/* Lista dei progetti */
.projects__list {
    display: flex;
    justify-content: space-between; /* Spazia i progetti a sinistra e a destra */
    gap: 80px; /* Spazio tra i riquadri */
    width: 100%;
    max-width: 1200px; /* Limita la larghezza massima */
    margin-top: 80px;
}

/* Singolo progetto */
.projects__item {
    width: calc(50% - 10px); /* Larghezza del 50% meno metà del gap */
    padding: 20px;
    background-color: #f9f9f9;
    border: 2px solid #000;
    font-size: 1.2em;

    text-align: center; /* Centra il contenuto del progetto */
}

/* Titolo della sezione */
.projects__title {
    font-size: 3em;
    color: #000;
    margin-bottom: 40px;
    text-align: center;
    width: 100%;
}



/* Contact Section */
.contact {
    padding: 80px 20px 20px 160px;
    background-color: #f0f0f0;

    text-align: center;
}

.contact__title {
    font-size: 3em;
    color: #000;
    margin-bottom: 20px;
}

.contact__info {
    font-size: 1.2em;
    color: #666;
    padding-bottom: 20px;
}

.contact__email {
    color: #000;
}

/* Media Queries for Responsiveness */

/* Tablet */
@media (max-width: 1024px) {
    .navbar {
        width: 180px;
    }

    .intro {
        padding: 100px 20px 20px 180px;
    }

    .linux {
        padding: 100px 20px 20px 180px;
    }

    .linux__img {
        width: calc(100% - 40px);
        margin-left: 0;
    }

    .projects__list {
        flex-direction: column;
    }

    .projects__item {
        max-width: 100%;
    }
}

/* Smartphone */
@media (max-width: 768px) {
    .navbar {
        width: 100%;
        height: auto;
        position: relative;
        border-bottom: 2px solid #000;
        border-right: none;
    }

    .navbar ul {
        flex-direction: row;
        justify-content: space-around;
    }

    .intro {
        padding: 100px 20px;
    }

    .linux {
        padding: 100px 20px;
        margin-bottom: 100px;
    }

    .linux__content {
        flex-direction: column;
        align-items: center;
        text-align: left;
    }

    .linux__image {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .linux__img {
        width: 100%;
        height: auto;
    }

    .linux__text {
        padding-left: 0;
    }

    .projects__list {
        flex-direction: column;
    }

    .projects__item {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .container {
        width: 100%;
    }
}
#nav-container {
    display: relative;

    align-items: center; /* Allinea al centro verticalmente */
    padding-bottom: 80px;

}

#svg-nav a img {
    width: 40px; /* Imposta la larghezza delle icone */
    height: 40px; /* Imposta l'altezza delle icone */
    object-fit: contain; /* Mantiene il contenuto delle icone proporzionato */
    margin-right: 20px ;
}
